@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
.bar-container{
    width: 30px;
    height: 10px;
    cursor: pointer;
    display: flex;
    .fill{
        height: 100%;
        &:hover{
            opacity: 0.83;
        }
    }
    .unfill{
        height: 100%;
        &:hover{
            opacity: 0;
        }
    }
    @media (min-width:screen-width.$middle){
        width: 38px;
        height: 13px;
    }
}