.temp{
    height: 5000px;
    div{
        border: 200px solid greenyellow;
        background-color: red;
        width: 90vw;
        height: 2000px;
        position: relative;
        top:2000px;
    }
}