@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
.bed-occupancy-table{
    width: 100%;
    .first-row-container{
        background-color: #e6f1f3;
        display: flex;
        height: 40px;
        padding-right: 7px;
        width: 100%;
        @media (min-width:screen-width.$w795) and (max-width:screen-width.$w980){
            height: 60px;
        }
        .button-container{
            height: 100%;
            width: 30.137%;
            @media (min-width:screen-width.$w490){
                width: 33.541%;
            }
            @media (min-width:screen-width.$w690){
                width: 33.5%;
            }
            @media (min-width:screen-width.$w795){
                width: 33.778%;
            }
            @media (min-width:screen-width.$w980){
                width: 33.7145%;
            }
            button{
                height: 100%;
                margin: auto;
                font-size: 11px;
                border-radius: 3px;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 2px;
                &:focus{
                    outline:2px solid black;
                }
                @media (min-width:screen-width.$w490) {
                    font-size: 14px;
                }
            }
        }
        &>:first-child{
            width: 39.726%;
            button{
                margin:0;
            }
            @media (min-width:screen-width.$w490) {
                width: 32.918%;
            }
            @media (min-width:screen-width.$w690) {
                width: 33%;
            }
            @media (min-width:screen-width.$w795) {
                width: 32.444%;
            }
            @media (min-width:screen-width.$w980) {
                width: 32.571%;
            }
        }
    }
    .rest-rows-container-container{
        direction: ltr;
        overflow: auto;
        height:225px;
        .row{
            font-weight: bold;
            border-bottom: 1.5px solid #daeaee;
            display: flex;
            height: 50px;
        }
        &::-webkit-scrollbar{
            width:7px
        }
    }
}
.occupancy-bed-square,.hospital-square{
    display: flex;
    align-items: center;
    height: 100%;
}
.occupancy-bed-square{
    font-size: 9px;
    flex-direction: column;
    justify-content: center;
    gap:7px;
    width: 30.137%;
    @media (min-width:screen-width.$w490){
        flex-direction: row;
        font-size: 11px;
        gap:3px;
        width: 33.541%;
    }
    @media (min-width:screen-width.$w690){
        width: 33.5%;
    }
    @media (min-width:screen-width.$w795){
        width: 33.778%;
    }
    @media (min-width:screen-width.$w980){
        font-size: 14px;
        width: 33.7145%;
    }
}
.hospital-square{
    font-size: 11px;
    padding-right:3px;
    width: 39.726%;
    @media (min-width:screen-width.$w490) {
        width: 32.918%;
        font-size: 14px;
    }
    @media (min-width:screen-width.$w690) {
        width: 33%;
    }
    @media (min-width:screen-width.$w795) {
        width: 32.444%;
    }
    @media (min-width:screen-width.$w980) {
        width: 32.571%;
    }
}
.triangle{
    margin-top:2px;
}
