
@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
.menu-container{
    background-color: #eff5f9ed;
    width: 100vw;
    height:calc(100vh - 120.52px);
    position: absolute;
    box-shadow: 0 0 20px black;
    @media (min-width:screen-width.$w490) {
        height: calc(100vh - 114px);
    }
    @media (min-width:screen-width.$w795) {
        height: calc(100vh - 98.52px);
    }
    @media (min-width:screen-width.$w980) {
        height: calc(100vh - 80px);
    }
}
.menu{
    width:0;
    transition:width 0.2s ease-in-out;
}
.menu-show{
    &::-webkit-scrollbar{
        display: inline-block;
        width: 5px;
    }
    user-select: none;
    overflow: auto;
    height: 100%;
    padding:4px 2px;
    background-color: white;
    width:100%;  
    @media (min-width:screen-width.$w490) {
        width:275px;
    }
}
.content-world-btn{
    height: 60px;
}
.menu-btn{
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    min-height: 45px;
    display: flex;
    align-items: center;
    padding: 1px 20px 1px 8px;
    font-size: 14.5px;
    text-align: start;
    &:focus{
        outline: 2px solid rgba(0,0,0,0.75);
        border-radius: 2px;
    }
}
.new-content-soon{
    color:#b7b7b7;
    &:focus{
        outline: none;
    }
}
.bold{
    font-weight: bold;
}
.plane-arrow{
    border: 1.5px solid black;
    border-top: none;
    border-left: none;
    height: 6px;
    width: 6px;
    margin:2px 7px 0 0;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
}
.rotate-plane-arrow{
    transform:rotate(45deg);
    margin-top: 0;
}
.sub-menu-content-world{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.sub-menu-content-world-show{
    max-height: 150px;
}
.sub-menu-data-world,.sub-menu-dashboard{
    button{
        color: transparent;
        div{
            border-color: transparent;
        }
    }
}
.sub-menu-data-world-show,.sub-menu-dashboard-show{
    button{
        color: black;
    }
}
.sub-sub-menu-data-world{
    max-height: 0;
    overflow: hidden;
    position: relative;
    left: 100vw;
    transition: left 0.6s ease;
    button{
        width:150%;
        transition: width 0.4s linear 0.6s;
    }
}
.sub-sub-menu-data-world-show{
    max-height: 1000px;
    left: 0;
    button{
        width: 100%;
    }
}
.gray-border-bottom{
    border-bottom: 1px solid #d8dde0;
}
.left-arrow{
    max-width:39px;
    max-height: 25px;
    margin-right: -6px;
}
.width110{
    width: 110px;
}

