.chart-select-open-menu-btn{
    font-size: 15px;
    border-radius: 20px;
    padding: 6px 15px 6px;
    background-color: #f7f9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:200px;
    border: 1px solid #e4e9f2;
    border: none;
    &:focus{
        outline: 2px solid black;
    }
}