@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
.chart-select-menu{
    width: 198px;
    position: absolute;
    background-color: white;
    border: 0.5px solid gray;
    z-index:2;
    border-radius: 8px;
    ul{
        &::-webkit-scrollbar{
            width:5px;      
        }
        h4{
            margin:11px 0;
        }
        li{
            margin-bottom: 8px;
        }
        height: 196px;
        list-style:none;
        overflow: auto;
        margin: 0;
        padding: 0 16px 10px;
    }
    button{
        height: 32px;
        width: 50%;
        background-color: #e6f1f4;
        border-bottom-right-radius:8px;
        border-bottom-left-radius:8px;
    }
    .hospitals-list{
        border: 1px solid #e4e9f2;
        margin: auto;
        width: 98%;
        padding: 5px;
    }
    .selected-hospitals{
        border-bottom:  1px solid #e4e9f2;
    }
}
.chart-select-container{
    font-size: 15px;
    button{
        border: none;
        &:focus{
            outline: 2px solid black;
        }
    }
    .chart-select-open-menu-btn{
        border-radius: 20px;
        padding: 6px 15px 6px;
        background-color: #f7f9fc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width:200px;
        font-size: 15px;
        border: 1px solid #e4e9f2;
    }
}
.chart-select-arrow{
    border:1.5px solid #8f9bb3;
    width: 5px;
    height: 5px;
    margin-right:15px;
    border-top: none;
    border-right:none;
    margin-bottom: 3px;
    transform:rotate(-44deg); 
    transition: transform 0.5s linear;
}
.chart-select-arrow-rotate{
    margin-bottom: -2px;
    transform: rotate(135deg);
}
.data-update-container{
    font-size: 11.2px;
    color:#222b45;
    background-color: #e6f1f3;
    padding:4px;
    margin: 8px 0;
    width: 193.62px;
    display: flex;
    align-items: center;
    gap:5px;
}
.table{
    width: 100%;
    .first-row-container{
        background-color: #e6f1f3;
        display: flex;
        height: 40px;
        padding-right: 7px;
        width: 100%;
        &> :first-child{
            width: 36%;
            text-align: start;
            @media (min-width:screen-width.$lower) {
                width: 30%;
            }
        }
        &> :last-child,&> :nth-child(2){
            width: 30%;
            display: flex;
            justify-content: center;
        }
        button{
            height: 100%;
            color: #222b45;
            font-size: 11px;
            border-radius: 3px;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            &:focus{
                outline:2px solid black;
            }
            @media (min-width:screen-width.$lower) {
                font-size: 14px;
            }
        }
    }
    .hospital{
        font-size: 11px;
        width: 35%;
        @media (min-width:screen-width.$lower) {
            font-size: 14px;
            width: 30%;
        }
    }
    .rest-rows-container{
        direction: ltr;
        overflow: auto;
        color: #222b45;
        font-weight: bold;
        &::-webkit-scrollbar{
            width:8px
        }
        .occupancy-bed-square{
            width: 30%;
            font-size: 9px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:8px;
            @media (min-width:screen-width.$lower) {
                flex-direction: row;
                font-size: 11px;
                gap:3px;
                width: 35%;
            }
            @media (min-width:screen-width.$upper) {
                font-size: 14px;
            }
        }
        ul{
            height:225px;
            list-style: none;
            padding: 0;
            padding-right: 5px;
            margin: 0;
            li{
                display: flex;
                height: 50px;
                border-bottom: 1.5px solid #daeaee;
                align-items: center;
            }

        }
    }
}
.bar-container{
    width: 30px;
    height: 10px;
    cursor: pointer;
    display: flex;
    .fill{
        height: 100%;
        &:hover{
            opacity: 0.83;
        }
    }
    .unfill{
        height: 100%;
        background-color: #eff5f9;
        &:hover{
            background-color: white;
        }
    }
    @media (min-width:screen-width.$middle){
        width: 38px;
        height: 13px;
    }
}
.triangle-flip{
    transform: rotate(180deg);
}
.triangle{
    margin-top: 2px;
}
.search-input{
    padding: 3px;
    margin: 12px -2px 6px 0;
    height: 33px;
    width: 190px;
    font-size: 15px; 
}
.table-select-menu{
    min-height: 273px;
    padding: 5px;
    .cancel-and-confirm-button{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}
