.chart-select-menu{
    width: 198px;
    position: absolute;
    background-color: white;
    border: 0.5px solid gray;
    z-index:2;
    border-radius: 8px;
    ul{
        &::-webkit-scrollbar{
            width:5px;
            
        }
        h4{
            margin:12px 0;
        }
        li{
            margin-bottom: 8px;
        }
        max-height: 198px;
        list-style:none;
        overflow: auto;
        margin: 0;
        padding: 0 16px 10px;
    }
    button{
        height: 32px;
        width: 50%;
        background-color: #e6f1f4;
        border-bottom-right-radius:8px;
        border-bottom-left-radius:8px;
    }
}
.chart-select-container{
    font-size: 15px;
    button{
        border: none;
        &:focus{
            outline: 2px solid black;
        }
    }
}
.chart-select-open-menu-btn{
    border-radius: 20px;
    padding: 6px 15px 6px;
    background-color: #f7f9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:200px;
    font-size: 15px;
}
.chart-select-arrow{
    border:1.5px solid #8f9bb3;
    width: 5px;
    height: 5px;
    margin-right:15px;
    border-top: none;
    border-right:none;
    margin-bottom: 3px;
    transform:rotate(-44deg); 
    transition: transform 0.5s linear;
}
.chart-select-arrow-rotate{
    margin-bottom: -2px;
    transform: rotate(135deg);
}