@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
@use "src/variables-and-mixins/mixins.scss" as *;
.weekly-summary-overview-container{
    background-color: white;
    border-radius: 10px;
    padding: 5px 0px 10px;
    margin-top: 20.8px;
    width:fit-content;
    h4{
        margin: 7px 17px 0  0;
        font-size:16px;
    }
}
.general-overview-cards-container,
.weekly-summary-overview-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 18PX;
    &>div{
        display: flex;
        gap: 18px;
    }  
}
.general-overview-cards-container{
    .card{
        @extend %basic-card;
        height: 184px;
        width:42vw;
        padding: 10px;
        @media (min-width:screen-width.$w490) {
            width:46.32vw;
        }
        @media (min-width:screen-width.$w690) {
            width:48vw;
        }
        @media (min-width:screen-width.$w795) {
            width:13.9vw;
        }
    }
}
.weekly-summary-overview-cards-container{
    padding:10px 19px ;
    .card{
        @extend %basic-card;
        height: 150px;
        width:42vw;//212.33
        padding: 10px;
        @media (min-width:screen-width.$w690){
            width: 45.322vw;
        }
        @media (min-width:screen-width.$w795){
            width: 20.788vw;
        }
    }
}