@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
@use "src/variables-and-mixins/mixins.scss" as *;
.traffic-light-table{
    width: 100%;
    .first-row-container{
        background-color: #e6f1f3;
        display: flex;
        height: min-content;
        padding-right: 7px;
        width: 100%;
        .button-container{
            width: 16.0968%;
            @media (min-width:screen-width.$w410) {
                width: 16.0974%;
            }
            @media (min-width:screen-width.$w490) {
                width: 16.7082%;
            }
            @media (min-width:screen-width.$w690) {
                width: 16.7%;
            }
            @media (min-width:screen-width.$w795) {
                width: 16.7096%;
            }
            @media (min-width:screen-width.$w980) {
                width: 16.7036%;
            }
            button{
                height: 100%;
                font-size: 11px;
                border-radius: 3px;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 2px;
                &:focus{
                    outline:2px solid black;
                }
                @media (min-width:screen-width.$w490) {
                    font-size: 14px;
                }
            }
        }
        &>:first-child{
            width: 19.516%;
            @media (min-width:screen-width.$w410) {
                width: 19.513%;
            }
            @media (min-width:screen-width.$w490) {
                width: 16.459%;
            }
            @media (min-width:screen-width.$w690) {
                width: 16.5%;
            }
            @media (min-width:screen-width.$w795) {
                width: 16.452%;
            }
            @media (min-width:screen-width.$w980) {
                width: 16.482%;
            }
        }
    }
    .city-square{
        width: 19.516%;
        @media (min-width:screen-width.$w410) {
            width: 19.513%;
        }
        @media (min-width:screen-width.$w490) {
            width: 16.459%;
        }
        @media (min-width:screen-width.$w690) {
            width: 16.5%;
        }
        @media (min-width:screen-width.$w795) {
            width: 16.452%;
        }
        @media (min-width:screen-width.$w980) {
            width: 16.482%;
        }
    }
    .rest-rows-container-container{
        direction: ltr;
        overflow: auto;
        height:225px;
        .row{
            border-bottom: 1.5px solid #daeaee;
            display: flex;
            height: 40px;
            align-items: center;
        }
        &::-webkit-scrollbar{
            width:8px
        }
    }
    .generic-square{
        text-align: center;
    }
    .generic-square,.city-square{
        font-size: 11px;
        @media (min-width:screen-width.$w490) {
            font-size: 14px;
        }
    }
    .generic-square,.grade-square{
        width: 16.0968%;
        @media (min-width:screen-width.$w410) {
            width: 16.0974%;
        }
        @media (min-width:screen-width.$w490) {
            width: 16.7082%;
        }
        @media (min-width:screen-width.$w690) {
            width: 16.7%;
        }
        @media (min-width:screen-width.$w795) {
            width: 16.7096%;
        }
        @media (min-width:screen-width.$w980) {
            width: 16.7036%;
        }
    }
}
.traffic-light-select-menu{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1.5px solid #e4e9f2;
    border-radius: 6px;
    right: 13px;
    margin-top: 3px;
    background-color: white;
    input{
        display: block;
        margin:5px auto 6px;
        height: 32px;
        width: 190px;
        &::placeholder{
            font-size: 11px;
        }
    }
    ul{
        list-style: none;
        position: absolute;
        width: 194px;
        padding: 0;
        z-index:2;
        margin-top: -6px;
        margin-right: 1.5px;
        background-color: white;
        li{
            background-color: white;
            border:1px solid #e6f1f4;
            padding:6px;
            &:hover{
                //background-color: #8cbed6 ;
                background-color: #d3a936d2 ;
            }
        }
    }
    button{
        height: 32px;
        width: 50%;
        border: none;
        background-color: #e6f1f4;
        border-bottom-right-radius:8px;
        border-bottom-left-radius:8px;
        &:focus{
            border:2px solid black;
        }
    }
    .cancel-and-confirm-buttons-container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}
.city-square{
    font-weight: bold;
}
.grade-square{
    padding-right: 4%;
    cursor: pointer;
    .grade-container{
        font-weight: bold;
        text-decoration-line: underline;
        color: #2c2c2c;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 30px;
        font-size: 9px;
        @media (min-width:screen-width.$lower) {
            width: fit-content;
            height: 15.33px;
            font-size: 11px;
        }
        @media (min-width:screen-width.$upper) {
            width: 28px;
            height: 24px;
            font-size: 14px;
        }
    }
}
.traffic-light-legend{//מתחת ל410 יורדים שורה
    display: flex;
    flex-wrap: wrap;
    margin:0 16px 10px 0;
    width:calc(100% - 16px);
    column-gap: 18px;
    row-gap: 5px;
    &>div{
        display: flex;
    }
    .rectangle{
        border-radius: 3px;
        height: 22px;
        width: 10px;
        margin-left: 7px;
        @media (min-width:screen-width.$w690) {
            width: 22px; 
        }
    }
    .color{
        font-size: 12.8px;
        margin-top: -4px;
    }
    .range{
        color: #757575;
        font-size: 9.6px;
        margin-top: -3px;
    }
}
.grades-chart-card{
    @extend %basic-card;
    background-color: pink;
    position: fixed;
    z-index: 50;
    top:50vh;
    width: 322px;
    height: 350px;
    padding: 10px;
    
}
.background-colorfa9e8f{
    background-color: #fa9e8f;
}
.background-colorf2c580{
    background-color: #f2c580;
}
.background-colorfcfc70{
    background-color: #fcfc70;
}
.background-colorb8de92{
    background-color: #b8de92;
}
.padding-right-10-percent{
    padding-right: 10%;
}