@use "src/variables-and-mixins/screen-width-limits.scss" as screen-width;
@use "src/variables-and-mixins/mixins.scss" as *;
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap';
// $upper:980px;
// $middle:795px;
// $low:690px;
// $lower:490px;
//$tiny:410px;
*{
    box-sizing: border-box;
    direction: rtl;
    font-family: "Open Sans";
}
html{
    // scroll-behavior: smooth;
    // scroll-padding-top: 184px;
    overflow: hidden;
}
body{
    margin: 0;
}
::-webkit-scrollbar{
    height: 6px;
    width: 10px;
}
::-webkit-scrollbar-truck{
    background-color: transparent;

}
::-webkit-scrollbar-thumb{
    background-color:rgb(169,169,169);
    border-radius: 30px;
}
.header-and-menu-and-nav-container{
    position: sticky;
    top:-125px;
    z-index: 3;
    @media (min-width:screen-width.$lower) {
        position: fixed;
        top:0;
    }
}
.body-container{
    height: 100vh;
    overflow-y:overlay;
    overflow-x: hidden;
    background-color:#E9EDF3;
    //scroll-behavior: smooth;
    scroll-padding-top: 60px;
    @media (min-width:screen-width.$lower){
        scroll-padding-top: 184px;
    }
    @media (min-width:screen-width.$low){
        scroll-padding-top: 174px;
    }
    @media (min-width:screen-width.$middle){
        scroll-padding-top: 158px;
    }
    @media (min-width:screen-width.$upper){
        scroll-padding-top: 140px;
    }

}
.all-chapters-container{
    padding:0 16px 36px;
    //margin-top: 4px;
    // display: flex; 
    // align-items: center;
    // flex-direction: column;
    // height: 100%;
    // overflow: auto;
    @media (min-width:screen-width.$lower){
        //margin-top: 188.5px;
    }
    @media (min-width:screen-width.$low){
       // margin-top: 178px;
    }
    @media (min-width:screen-width.$middle){
        //margin-top: 162.5px;
    }
    @media (min-width:screen-width.$upper){
        padding: 0 36px 36px;
        //margin-top: 144px;
    }
}
.total-number{
    @extend %number;
    font-size:16px;//22.4
    margin-bottom: 4px;
    @media (min-width:screen-width.$lower) {
        font-size: 22.4px;
    }
}
.overview-chapter-container{
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    padding-top: 4px;
    @media (min-width:screen-width.$lower){
        padding-top: 188.5px;
    }
    @media (min-width:screen-width.$low){
       padding-top: 178px;
    }
    @media (min-width:screen-width.$middle){
        padding-top: 162.5px;
    }
    @media (min-width:screen-width.$upper){
        padding-top: 144px;
    }
}
.general-chapter-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}
.general-chapter-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap:20.8px;
    @media (min-width:screen-width.$middle){
        gap:10px;
    }
    .table-card{
        @extend %basic-card;
        width: 96vw;
        height: 350px;
        @media (min-width:screen-width.$tiny){
            width: 81.8vw;
        }
        @media (min-width:screen-width.$lower){
            width: 92.5vw;
        }
        @media (min-width:screen-width.$low){
            width: 96.15vw;
        }
        @media (min-width:screen-width.$middle){
            width: 30.45vw;
        }
        @media (min-width:screen-width.$upper){
            width: 29.5vw;
        }
    }
    .card{
        @extend %basic-card;
        padding: 10px;
        height: 350px;
        width: 93vw;
        @media (min-width:screen-width.$tiny) and (max-width:screen-width.$lower){
            width: 81vw;
        }
        @media (min-width:screen-width.$middle){
            width: 30vw;
        }
    }  
}
.data-update-container{
    font-size: 11.2px;
    color:#222b45;
    background-color: #e6f1f3;
    padding:4px;
    margin: 8px 10px 8px 0;
    width: 193.62px;
    display: flex;
    align-items: center;
    gap:5px;
}
.margin-bottom16{
    margin-bottom:16px;
}
.chart-container{
    width:100%;
    height: 266px;
    padding-right: 10px;
}
.segmentation-chart-container{
    width:108%;
    height: 266px;
}
.chart-legend{
    color:black;
    font-size: 14px;
    margin-right: 6px;
}
.card-upper-part-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.table-card{
    .card-upper-part-container{
        padding: 10px;
    }
}
.table-select-open-menu-btn{
    font-size: 15px;
    border-radius: 20px;
    padding: 6px 15px 6px;
    background-color: #f7f9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:200px;
    margin-right: 10px;
    border: 1px solid #e4e9f2;
    &:focus{
        outline: 2px solid black;
    }
}
#card-of-traffic-light-table{
    width: 95.629vw;
    @media (min-width:screen-width.$tiny) {
        width:82.67vw;
    }
    @media (min-width:screen-width.$lower) {
        width: 95.1vw;
    }
    @media (min-width:screen-width.$low) {
        width: 96.02vw;
    }
    @media (min-width:screen-width.$middle) {
        width: 63.65vw;
    }
    @media (min-width:screen-width.$upper) {
        width: 61.5vw;
    }
}
.none{
    display: none;
}
.relative{
    position: relative;
}